<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <ul id="messages"></ul>
    <input id="messageInput" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('message', function(data) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(data));
            ul.appendChild(li);
        });
        function sendMessage() {
            var input = document.getElementById('messageInput');
            var message = input.value;
            socket.send(message);
            input.value = '';
        }
    </script>
</body>
</html>
